@use "src/themes/themes";
@use "src/themes/utils";

#QuantityButton .zmdi {
	color: themes.$triad-primary;
	font-size: themes.$table-elements-font-size;
}

#QuantityButton .zmdi-disabled {
	color: themes.$triad-primary-80;
}

#QuantityButton button {
	@include utils.transition-ease-in-out(all, 0.2s);
	background: none;
	border: none;
	outline: none;
	&:active {
		@include utils.transition-ease-in-out(all, 0.2s);
		transform: translateY(4px);
	}
}