@use 'src/themes/mixins';
@use 'src/themes/themes';

html {
	@include mixins.body-default;
}

body {
	@include mixins.body-gradient;
	margin: 0px;
	width: 100vw;
}

.Login {
	@include mixins.center-align;
}

#Login .Card {
	@include mixins.card-dark;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	width: 600px;
	height: 540px;
	@media screen and (max-width: themes.$handheld) {
		padding: 5px 20px;
		width: calc(100vw - 40px);
		height: 540px;
		border-radius: 0px;
	}
}

#Login .Avatar {
	border-radius: 50%;
	border: 3px solid themes.$triad-primary;
	width: 150px;
	height: 150px;
	margin-bottom: 70px;
}

#Login input {
	@include mixins.input-dark;
	@include mixins.default-text;
	margin: 5px 10px;
}

#Login .Info {
	@include mixins.default-info-dark;
	margin: 5px 10px;
	width: 100%;
}

#Login button {
	@include mixins.button-default;
	margin-top: 40px;
	width: 100%;
}