@use 'src/themes/mixins';
@use 'src/themes/themes';
@use 'src/themes/utils';

html {
	@include mixins.body-default;
}

body {
	@include mixins.body-gradient;
	margin: 0px;
	padding: 20px;
	width: auto !important;
	width: 100vw;
	max-width: 100%;
	overflow-x: hidden;
}

.Catalogue {
	padding-top: themes.$page-padding-top;
}

#Catalogue .buttonSubmit {
	@include mixins.horizontal-center-align;
	@include mixins.button-submit;
	@include utils.full-width(40px);
	margin-top: 40px;
	&:disabled {
		display: none;
	}
	@media screen and (max-width: themes.$handheld) {
		@include utils.full-width(10px);
	}
}