@use 'src/themes/mixins';
@use 'src/themes/themes';
@use 'src/themes/utils';

.Cards {
	@include mixins.horizontal-center-align;
	@media screen and (max-width: themes.$handheld) {
		@include utils.full-width(0px);
	}
}

#Cards .container {
	@include mixins.card-dark;
	display: flex;
	flex-direction: column;
	margin: auto;
	width: calc(100% - 90px);
	@media screen and (max-width: themes.$handheld) {
		padding: 10px;
		border-radius: 0px;
		width: 100vw;
	}
}