@use 'src/themes/themes';
@use 'src/themes/utils';

// Mixins for page bodies
@mixin body-default {
	background-color: themes.$background-default;
	height: 100vh;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin body-gradient {
	background-image: themes.$background-gradient;
	height: 100%;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin body-home {
	background-color: themes.$background-home;
	height: 100%;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Mixins for layout
@mixin center-align {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

@mixin horizontal-center-align {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
}

// Mixins for fonts
@mixin default-text {
	font: themes.$default-text;
	color: themes.$default-color;
}

@mixin default-info {
	font: themes.$default-info;
	color: themes.$default-color-80;
}

@mixin default-info-dark {
	@include default-info;
	filter: invert(1);
}

// Mixins for components
@mixin card-default {
	@include utils.container-gradient(
		radial-gradient(at 73% top, #ffffff 0%, #cacaca 63%),
		"../assets/texture.png",
		20px
	);
	@include utils.transition-ease-in-out(all, 0.1s);
	box-shadow: themes.$default-shadow;
	border-radius: themes.$default-border-radius;
	padding: themes.$default-padding;
}

@mixin card-dark {
	@include card-default;
	@include utils.container-gradient(
		radial-gradient(at 73% top, #202020 0%, #1d1d1d 63%),
		"../assets/texture.png",
		20px
	);
	color: themes.$default-white;
}

@mixin input-default($padding: themes.$default-padding) {
	@include utils.transition-ease-in-out(all);
	padding: 5px 20px;
	width: calc(100% - #{$padding} - #{$padding});
	min-height: 45px;
	border-radius: themes.$element-border-radius;
	border: 2px solid themes.$default-color-80;
	outline: none;
	&:focus {
		border: 2px solid themes.$triad-primary;
	}
}

@mixin input-dark($padding: themes.$default-padding) {
	@include input-default;
	background: none;
	border: 2px solid themes.$default-grey;
	color: themes.$default-white;
	&:focus {
		border: 2px solid themes.$triad-primary;
		color: themes.$default-white;
	}
	&:valid {
		color: themes.$default-white;
	}
}

@mixin button-default {
	@include utils.transition-ease-in-out(all);
	font: themes.$default-text;
	font-weight: bold;
	min-height: 55px;
	min-width: 120px;
	border: 2px none;
	border-radius: themes.$element-border-radius;
	background: themes.$triad-primary;
	outline: none;
	&:hover {
		@include utils.transition-ease-in-out(all, 0.1s);
		background: themes.$triad-primary;
		cursor: pointer;
	}
	&:disabled {
		@include utils.transition-ease-in-out(all, 0.1s);
		background: themes.$triad-primary-80;
		transform: none;
		opacity: 0.5;
	}
}

@mixin button-submit {
	@include utils.transition-ease-in-out(all);
	font: themes.$default-text;
	font-weight: bold;
	min-height: 55px;
	min-width: 120px;
	border: 2px none;
	border-radius: themes.$element-border-radius;
	background: themes.$default-green;
	box-shadow: themes.$default-shadow;
	outline: none;
	&:hover {
		cursor: pointer;
	}
	&:disabled {
		@include utils.transition-ease-in-out(all, 0.1s);
		background: themes.$default-red;
		transform: none;
		opacity: 0.5;
	}
}

@mixin button-discard {
	@include utils.transition-ease-in-out(all);
	font: themes.$default-text;
	color: themes.$default-white;
	font-weight: bold;
	min-height: 55px;
	min-width: 120px;
	border: 2px none;
	border-radius: themes.$element-border-radius;
	background: themes.$default-red;
	box-shadow: themes.$default-shadow;
	outline: none;
	&:hover {
		cursor: pointer;
	}
	&:disabled {
		@include utils.transition-ease-in-out(all, 0.1s);
		background: themes.$default-red;
		transform: none;
		opacity: 0.5;
	}
}

@mixin overwrite-padding {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	width: 100vw;
	position: relative;
	right: 50%;
}
