// breakpoint
$handheld: 720px;

// background
$background-default: #404040;
$background-gradient: linear-gradient(
	-44deg,
	#1bddb5 -80%,
	#02677D 100%,
	rgba(0, 0, 0, 0.5) 100%,
	rgba(0, 3, 3, 0.5) 100%
);
$background-home: #D9D9D9;

// Colors
$primary-color: #03738C;
$secondary-color: rgba(27, 221, 181, 0.5);
$default-color: #000;
$default-color-80: #00000080;
$default-white: #EDE1E4;
$default-grey: #FFFFFF50;
$triad-primary: #ff5432;
$triad-primary-80: #ff543280;
$default-green: #84BF04;
$default-red: #BF0404;
$default-darker-green: #0D0D0D;

// Fonts
$primary-font-family: "Roboto", "Archivo", Helvetica, sans-serif;

$default-text: normal 18px/30px $primary-font-family;
$default-text-mobile: normal 12px/24px $primary-font-family;

$default-info: normal 12px/12px $primary-font-family;
$default-info-mobile: normal 10px/10px $primary-font-family;

$table-elements-font-size: 25px;
$table-elements-padding: 5px 0px;

// Additional Styles
$default-border-radius: 25px;
$element-border-radius: 5px;
$default-padding: 20px;
$default-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.5);
$button-background: linear-gradient(
	0deg,
	$triad-primary 59%,
	$triad-primary 93%,
	#faa190 100%
);
$page-padding-top: 80px;
