@mixin container-gradient(
	$color: themes.$bodyGradientColor,
	$url: "",
	$size: "",
	$blend: normal
) {
	background: url($url) $size repeat, $color no-repeat;
	background-blend-mode: $blend, normal;
}

@mixin transition-ease-in-out($ele, $duration: 0.2s) {
	transition: $ele $duration ease-in-out;
}

@mixin full-width($horizontal: 0px) {
	margin-left: -50vw;
	margin-right: -50vw;
	width: calc(100vw - 2 * #{$horizontal});
	position: relative;
	right: 50%;
	left: calc(50% + #{$horizontal});
}

@mixin rotate() {
	-webkit-animation:rotating 1s ease-in-out infinite;
    -moz-animation:rotating 1s ease-in-out infinite;
    animation:rotating 1s ease-in-out infinite;

	@-webkit-keyframes rotating {
		from {
			-webkit-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		to {
			-webkit-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
	@keyframes rotating {
		from {
			-ms-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		to {
			-ms-transform: rotate(360deg);
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
}
