@use "src/themes/mixins";
@use "src/themes/themes";

.CatalogueTable {
	margin-bottom: 40px;
	z-index: 1;
}

#CatalogueTable table {
  min-width: 520px;
  width: 100%;
}

#CatalogueTable table, th, td, thead, tbody {
  border-collapse: collapse;
  text-align: left;
  font-size: themes.$table-elements-font-size;
  padding: themes.$table-elements-padding;
}