@use "src/themes/mixins";
@use "src/themes/themes";
@use "src/themes/utils";

.OrderSummary {
	overflow-x: scroll;
}

#OrderSummary .column {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	font: themes.$default-text;
	@media screen and (max-width: themes.$handheld) {
		@include utils.full-width(10px);
	}
}

#OrderSummary .row {
	display: flex;
	flex-direction: row;
}

#OrderSummary .item {
	align-items: center;
	text-align: center;
	flex-basis: 20%;
	min-width: 180px;
}

#OrderSummary .main {
	flex-basis: 30%;
	text-align: center;
	min-width: 200px;
}

#OrderSummary .left {
	text-align: left;
}

#OrderSummary .right {
	text-align: right;
	min-width: 90px;
	@media screen and (max-width: themes.$handheld) {
		text-align: left;
		padding-left: 15px;
	}
}

#OrderSummary .header {	
	font-size: themes.$table-elements-font-size;
	font-weight: bold;
	padding-bottom: 15px;
}