@use 'src/themes/mixins';
@use 'src/themes/themes';
@use 'src/themes/utils';

html {
	@include mixins.body-default;
}

body {
	@include mixins.body-gradient;
	margin: 0px;
	padding: 20px;
	width: auto !important;
	width: 100vw;
	max-width: 100%;
	overflow-x: hidden;
}

.Orders {
	padding-top: themes.$page-padding-top;
}

#Orders .buttonSubmit {
	@include mixins.horizontal-center-align;
	@include mixins.button-submit;
	@include utils.full-width(40px);
	margin-top: 40px;
	@media screen and (max-width: themes.$handheld) {
		@include utils.full-width(10px);
	}
}

#Orders .buttonDiscard {
	@include mixins.horizontal-center-align;
	@include mixins.button-discard;
	@include utils.full-width(40px);
	margin-top: 20px;
	@media screen and (max-width: themes.$handheld) {
		@include utils.full-width(10px);
	}
}

#Orders .pay {
	background: themes.$default-darker-green;
	color: themes.$default-white;
}

#Orders .zmdi-refresh-alt {
	font-size: 50px;
	color: themes.$default-white;
	@include mixins.horizontal-center-align;
	@include utils.rotate;
}
